@model UC.Models.ViewModels.ListViewModels.VMListCronogramaDia

@using UC.Models.Enumerators;
@*@{
        var listaEmAndamento = Model.AtividadesDoDia.Where(x => x.situacao != (int)SituacaoPasso.Concluido).ToList();
    }*@

<div class="list-group hidden-print">
    @Html.ActionLink("Voltar", "Index", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Nova Atividade", "NovaAtividade", "ExecucaoMeta", new { Area = "Cadastro" }, new { @class = "btn btn-success" })
    @Html.ActionLink("Habitos", "Lista", "Habito", new { Area = "Comum" }, new { @class = "btn btn-info" })
    @Html.ActionLink("Notas", "ListarAnotacoes", "AnotacaoExecucaoMeta", new { Area = "Comum", Dia = Model.Dia }, new { @class = "btn btn-info" })
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center">Organização do dia @Model.Dia.ToShortDateString() - @(((DiaSemanal)Model.Dia.DayOfWeek).ToFriendlyString())</h3>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Passo</th>
                    <th>Duração</th>
                    <th>Término</th>
                    <th>Meta</th>
                    <th class="hidden-print">Opções</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_PartialInfoCronograma", Model)
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-default" onclick="buscarDia(-1)">Anterior</button>
        <button type="submit" class="btn btn-default" onclick="buscarDia(1)">Próximo</button>
    </div>
</div>

@*<div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="text-center">Atividades Concluídas</h3>
        </div>
        <div class="panel-body table-responsive">
            @{i = 1;}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Passo</th>
                        <th>Meta</th>
                        <th>Duração</th>
                        <th>Término</th>
                        <th class="hidden-print">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cadaExecucao in Model.AtividadesDoDia.Where(x => x.situacao == (int)SituacaoPasso.Concluido && x.execucaoMetaUID.HasValue).ToList())
                    {
                        <tr>
                            <td onclick="window.location.href='@Url.Action("Detalhes", "ExecucaoMeta", new { execucaoMetaUID = cadaExecucao.execucaoMetaUID, Area = "Comum" })'">
                                <strong> @cadaExecucao.dataInicio.ToShortTimeString()</strong> - @cadaExecucao.ExecucaoMeta.descricao
                            </td>
                            <td>@cadaExecucao.ExecucaoMeta.Meta.nome</td>
                            <td>@cadaExecucao.duracao Min</td>
                            <td width="15%">
                                @cadaExecucao.dataTermino.ToShortTimeString()
                            </td>
                            <td class="hidden-print">
                                @Html.ActionLink("Detalhes", "Detalhes", "ExecucaoMeta", new { execucaoMetaUID = cadaExecucao.execucaoMetaUID, Area = "Comum" }, new { @class = "" })
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>*@

<div class="list-group hidden-print">
    @Html.ActionLink("Voltar", "Index", "Index", null, new { @class = "btn btn-default" })
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
        Buscar Outro Dia
    </button>
</div>

@using (Html.BeginForm("DetalharDia", "Cronograma", new { Area = "Comum" }, FormMethod.Post, null))
{
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Qual dia quer Pesquisar?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        @Html.Label("dia")
                        <input type="date" id="dia" name="dia" value="@Model.Dia.ToString("yyyy-MM-dd")" class="form-control" />
                        @Html.ValidationMessage("dia")
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function buscarDia(diaSomados) {
        var dataAtual = new Date(document.getElementById("dia").value);

        dataAtual.setDate(dataAtual.getDate() + diaSomados);

        var dataFormatada = dataAtual.toISOString().slice(0, 10);

        document.getElementById("dia").value = dataFormatada;

        document.forms[0].submit();
    }

</script>


