@model UC.Models.ViewModels.FormViewModels.VMFormAtividadeAula

@{
    ViewBag.Title = "Nova Atividade";
}

@using (@Html.BeginForm("GravarFormularioAtividadeAula", "AtividadeAula", FormMethod.Post))
{
    @Html.HiddenFor(m => m.aulaUID)
    @Html.HiddenFor(m => m.atividadeaulaUID)

    <div class="panel-info">
        <div class="panel-heading">
            <h2>Formulário de Atividade de Aula</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.titulo, "Titulo:")
                @Html.TextBoxFor(m => m.titulo, new { @class = "form-control", placeholder = "Descreva em poucas palavras..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.descricao, "Descrição:")
                @Html.TextAreaFor(m => m.descricao, new { @class = "form-control", placeholder = "Descreva com detalhes..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.duracaoMin, "Duração da atividade: (em min)")
                @Html.TextBoxFor(m => m.duracaoMin, new { @class = "form-control", placeholder = "Somente numeros..." })
            </div>
        </div>
        <div class="panel-footer more-large text-center">
            <button type="submit" class="btn btn-success">Salvar</button>
            @Html.ActionLink("Voltar para Aula", "Detalhes", "Aula", new { Area = "Comum", aulaUID = Model.aulaUID }, new { @class = "btn btn-default" })
        </div>
    </div>
}