@model UC.Models.ViewModels.FormViewModels.VMFormPermissao

@{
    ViewBag.Title = "Formulário de Permissão";
}

@using (@Html.BeginForm("GravarFormulario", "Permissao", FormMethod.Post))
{
    @Html.HiddenFor(m => m.permissaoUID, Model.permissaoUID)
    @Html.HiddenFor(m => m.pessoaUID, Model.pessoaUID)

    <div>
        <div class="panel-heading">
            <h2>Formulário de Permissão</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.cpf, "CPF:")
                @Html.TextBoxFor(m => m.cpf, new { @class = "form-control more-large", placeholder = "Somente números..." })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.tipoLogin, "Tipo de Login:")
                @Html.DropDownListFor(m => m.tipoLogin, Model.tiposDeLogin, new { @class = "form-control"})
            </div>
            @if(Model.permissaoUID > 0)
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.validade, "Validade:")
                    @Html.EditorFor(m => m.validade, new { @class = "form-control more-large", @placeholder = "Valor da Inscrição..." })
                </div>
            }
            
        </div>
        <div class="panel-footer more-large text-center">
            <button type="submit" class="btn btn-success">Salvar as Alterações</button>
            @Html.ActionLink("Voltar", "Lista", "Permissao", new { Area = UC.Utility.SimpleSessionPersister.UserRole }, new { @class = "btn btn-default" })
        </div>
    </div>
}
