@model UC.Models.ViewModels.FormViewModels.VMFormDiaDaSemanaTurma

@{
    ViewBag.Title = "Formulário de Dias da Semana";
}

@using (@Html.BeginForm("GravarFormularioDiaDaSemana", "Turma", FormMethod.Post))
{
    @Html.HiddenFor(m => m.turmaUID, Model.turmaUID)

    <div>
        <div class="panel-heading">
            <h2>Formulário de Dias da Semana para Turma: @Model.nomeTurma</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.diaSemanal, "Selecione o dia para inclusão:")
                @Html.DropDownListFor(m => m.diaSemanal, Model.DiasDisponiveis, new { @class = "form-control" })
            </div>
        </div>
        <div class="panel-footer more-large text-center">
            <button type="submit" class="btn btn-success">Salvar</button>
            @Html.ActionLink("Voltar", "Detalhes", "Turma", new { turmaUID = Model.turmaUID, Area = UC.Utility.SimpleSessionPersister.UserRole , @class = "btn btn-info" })
        </div>
    </div>
}
