@model UC.Models.ViewModels.FormViewModels.VMFormProfessorTurma

@{
    ViewBag.Title = "Novo Professor na turma";
}

@using (@Html.BeginForm("GravarFormulario", "ProfessorTurma", FormMethod.Post))
{
   
    <div>
        <div class="panel-heading">
            <h2>Vincular novo Professor para a Turma @Model.nomeTurma</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.LabelFor(m => m.professorUID, "Selecione o professor:")
                @Html.DropDownListFor(m => m.professorUID, Model.ProfessoresDisponiveis, new { @class = "form-control" })
            </div>
            @if (Model.turmaUID.HasValue)
            {
                @Html.HiddenFor(m => m.turmaUID, Model.turmaUID)
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.turmaUID, "Selecione a turma:")
                    @Html.DropDownListFor(m => m.turmaUID, Model.TurmasDisponiveis, new { @class = "form-control" })
                </div>
            }

        </div>
        <div class="panel-footer more-large text-center">
            <button type="submit" class="btn btn-success">Salvar</button>
            @if (Model.turmaUID.HasValue)
            {
                @Html.ActionLink("Voltar", "Detalhes", "Turma", new { turmaUID = Model.turmaUID.Value, Area = "Comum", @class = "btn btn-default" })
            }
            else
            {
                @Html.ActionLink("Voltar", "Detalhes", "Painel", new { Area = UC.Utility.SimpleSessionPersister.UserRole, @class = "btn btn-default" })
            }
        </div>
    </div>
}
