<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UC - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, follow">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="navbar" id="navbar-principal">
        <div class="slogan-inicial">
            <div style="display: flex; align-items: center; justify-content: center; ">
                <img class="img-circle" src="~/Content/img/logo.png" style="width: 100px;" />
                @Html.ActionLink("UC", "Index", "Home", null, new { @style = "font-size:3em;" })
            </div>
            <p>A realidade em um aspecto diferenciado.</p>
        </div>
        <div class="container">
            @Html.ActionLink("Metas", "Lista", "Meta", new { Area = "Comum" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Diário", "DetalharDia", "Cronograma", new { Area = "Comum" }, new { @class = "btn btn-default" })
            @Html.ActionLink("Em andamento", "Execucao", "ExecucaoMeta", new { Area = "Comum" }, new { @class = "btn btn-default" })
            @if (UC.Utility.SimpleSessionPersister.IsLogged)
            {
                var nome = "Olá, " + UC.Utility.SimpleSessionPersister.Username;
                var perfil = "Perfil: " + UC.Utility.SimpleSessionPersister.UserRole;

                <div class="btn-group">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @nome
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Acessar Painel", "Detalhes", "Painel", new { Area = UC.Utility.SimpleSessionPersister.UserRole }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Perfil", "SelecionarPerfil", "Account", new { Area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Sair", "LogOut", "Account", new { Area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </div>
            }
            else
            {

                @Html.ActionLink("Login", "Login", "Home", new { Area = "" }, new { @class = "btn btn-default" })
            }


        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Mensagens")
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - UC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
