<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UniverCidade ConvidAtiva</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style.css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="https://colorlib.com/etc/lf/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v1/css/main.css">
    <!--===============================================================================================-->
    <meta name="robots" content="noindex, follow">
</head>
<body>
    <div class="slogan-inicial">
        <h1>@Html.ActionLink("UC", "Index", "Home", new { Area = "" }, new { @class = "h1" })</h1>
        <p>A realidade em um aspecto diferenciado.</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>
    <div class="navbar" id="navbar-principal">

        <div class="container">
            <div>@Html.ActionLink("Incluir Meta", "Nova", "Meta", new { Area = "Cadastro" }, new { @class = "btn btn-success" })</div>
            @*<div>@Html.ActionLink("Modalidades", "Lista", "Modalidade", new { Area = "Comum" }, new { @class = "" })</div>
            <div>@Html.ActionLink("Sobre", "About", "Home", new { Area = "" }, new { @class = "" })</div>
            <div>@Html.ActionLink("Contato", "Contact", "Home", new { Area = "" }, new { @class = "" })</div>
            @if (UC.Utility.SimpleSessionPersister.IsLogged)
            {
                var nome = "Olá, " + UC.Utility.SimpleSessionPersister.Username;
                var perfil = "Perfil: " + UC.Utility.SimpleSessionPersister.UserRole;

                <div class="btn-group">
                    <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @nome
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Acessar Painel", "Detalhes", "Painel", new { Area = UC.Utility.SimpleSessionPersister.UserRole }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink(perfil, "SelecionarPerfil", "Account", new { Area = "" }, new { @class = "" })
                        </li>
                        <li>
                            @Html.ActionLink("Sair", "LogOut", "Account", new { Area = "" }, new { @class = "" })
                        </li>
                    </ul>
                </div>
            }
            else
            {

                <div>@Html.ActionLink("Login", "Login", "Home", new { Area = "" }, new { @class = "" })</div>
            }*@

            
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_Mensagens")
        @RenderBody()
        <hr />
        <footer style="text-align:center">
            <p>&copy; @DateTime.Now.Year - Universo Carrara</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
