<nav id="nav">
    <div class="InfoItens">
       
            <!-- TODOS OS USUÁRIOS LOGADOS -->
            @if (UC.Utility.SimpleSessionPersister.IsLogged)
            {
                
                    <strong>Usuário: </strong>@UC.Utility.SimpleSessionPersister.Username
                
                    <span class="glyphicon glyphicon-home" aria-hidden="true"> @Html.ActionLink("Home", "Index", "Index", new { Area = UC.Utility.SimpleSessionPersister.UserRole }, null)</span>
                
                if (UC.Utility.SimpleSessionPersister.UserHasOtherRoles)
                {
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"> @Html.ActionLink(" Alterar Perfil de Acesso", "AlterarPerfil", "Account", new { Area = string.Empty }, null)</span>
                }
            }
            else
            {
                
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span><a href="https://ufmt.br">Portal da UFMT</a>
                

                
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> @Html.ActionLink("Visualização de Propostas Públicas", "Lista", "Proposta", new { @Area = "" }, new { title = "Link para a visualização pública de propostas" })
                
                @*
                    <li>
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span><a href="https://sistemas.ufmt.br/ufmt.portalsistemas">Portal de Sistemas Integrados UFMT</a>
                    </li>
                *@
            }
            
                <span>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    @Html.ActionLink("Dúvidas? Entre em contato", "Contato", "Home", new { Area = string.Empty }, new { title = "Link para área de contatos" })
                </span>
            
       
    </div>

    <div class="NavOptions">
        <ul>
            @* TODOS OS USUARIOS LOGADOS *@
            @if (UC.Utility.SimpleSessionPersister.IsLogged)
            {
                <li><span class="left"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>@Html.ActionLink(" Sair", "LogOut", "Account", new { area = string.Empty }, null)</span></li>
            }
            else
            {
                <li><span class="left"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>@Html.ActionLink(" Login", "Login", "Account", new { area = string.Empty }, null)</span></li>
            }
        </ul>
    </div>
</nav>
