@{
    ViewBag.Title = "Painel Geral";
}
<div class="painel-geral">
    <div class="panel-info">
        <div class="panel-heading centralizar">
            <h1>Gerencia de <strong>Modalidades</strong></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                @Html.ActionLink("Listar Todas", "Lista", "Modalidade", new { Area = "Comum" }, new { @class = "btn btn-info" })

                @Html.ActionLink("Incluir Nova", "Nova", "Modalidade", new { Area = "Cadastro" }, new { @class = "btn btn-success" })

                @Html.ActionLink("Modalidades Excluídas", "Lixeira", "Modalidade", new { Area = "Comum" }, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-success">
        <div class="panel-heading centralizar">
            <h1>Gerencia de <strong>Turmas</strong></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                @Html.ActionLink("Listar Todas", "Lista", "Turma", new { Area = "Comum" }, new { @class = "btn btn-info" })

                @Html.ActionLink("Turmas Desativadas", "Lixeira", "Turma", new { Area = "Comum" }, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
    <br />
    <div class="panel panel-warning">
        <div class="panel-heading centralizar">
            <h1>Gerencia de <strong>Pessoas</strong></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                @Html.ActionLink("Listar Todas", "Lista", "Pessoa", new { Area = "Comum" }, new { @class = "btn btn-info" })

                @Html.ActionLink("Nova", "NovoCadastro", "Account", new { Area = "" }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
    <br />
    <div class="panel-info">
        <div class="panel-heading centralizar">
            <h1>Gerencia de <strong>Permissão de Usuário</strong></h1>
        </div>
        <div class="panel-body">
            <div class="row">
                @Html.ActionLink("Listar", "Lista", "Permissao", new { Area = "Comum" }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
</div>

