@model List<UC.Models.ViewModels.VMBolsista>

<br />
<div class="panel panel-success panel-detalhes-turma">
    <div class="panel-heading panel-title-row">
        Bolsistas
    </div>
    <div class="panel-body">
        <table class="table-bordered" style="min-width: 100%; text-align:center;">
            <thead>
                <tr style="line-height: 3em;">
                    <th style="text-align: center;">Turma</th>
                    <th style="text-align: center;">Nome</th>
                    <th style="text-align: center;">CPF</th>
                    <th style="text-align: center;">Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cadaBolsista in Model)
                {
                    <tr>
                        <td>@cadaBolsista.turma</td>
                        <td>@cadaBolsista.nome</td>
                        <td>@cadaBolsista.cpf</td>
                        <td>
                            @Html.ActionLink("Detalhes", "Detalhes", "Bolsista", new { Area = "Comum", bolsistaUID = cadaBolsista.bolsistaUID }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Excluir", "Excluir", "Bolsista", new { Area = "Cadastro", bolsistaUID = cadaBolsista.bolsistaUID }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
    </div>
    @if (UC.Utility.SimpleSessionPersister.UserRole == "Coordenador" || UC.Utility.SimpleSessionPersister.UserRole == "Secretario")
    {

            @Html.ActionLink("Incluir Novo", "Novo", "Bolsista", new { Area = "Cadastro" }, new { @class = "btn btn-success" })

    }
</div>

