@model UC.Models.ViewModels.VMPessoa

@if (Model != null)
{
    <div class="panel panel-info panel-detalhes-turma">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><h3><strong>Nome: </strong>@Model.nome</h3></li>
                <li class="list-group-item"><h3><strong>CPF: </strong>@Model.cpf</h3></li>
                <li class="list-group-item"><h3><strong>Endereço: </strong>@Model.endereco</h3></li>
                <li class="list-group-item"><h3><strong>Telefone: </strong>@Model.telefone</h3></li>
                <li class="list-group-item"><h3><strong>Data de Nascimento: </strong>@Model.nascimento</h3></li>
            </ul>
        </div>
    </div>
}
