@model UC.Models.ViewModels.VMModalidade

@{
    ViewBag.Title = "Detalhes da Modalidade";
}

    <div class="panel panel-info panel-detalhes-modalidade">
        <div class="panel-heading">
            <span class="panel-title-col"><strong>@Model.nome</strong></span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><h3>Inscrição: @Model.ValorInscrição</h3></li>
                <li class="list-group-item"><h3>Mensalidade: @Model.ValorMensalidade</h3></li>
                <li class="list-group-item"><h3>Vagas Totais: @Model.Turmas.Sum(x => x.Vagas)</h3></li>
            </ul>
        </div>
        <div class="row">
            @Html.ActionLink("Editar", "Editar", "Modalidade", new { Area = "Cadastro", modalidadeUID = Model.modalidadeUID }, new { @class = "btn btn-warning" })

            @Html.ActionLink("Excluir", "Excluir", "Modalidade", new { Area = "Cadastro", modalidadeUID = Model.modalidadeUID }, new { @class = "btn btn-danger" })

            @Html.ActionLink("Escolher depois", "Detalhes", "Modalidade", new { Area = "Cadastro", modalidadeUID = Model.modalidadeUID }, new { @class = "btn btn-default" })

            @Html.ActionLink("Incluir Turma", "NovaTurma", "Turma", new { Area = "Cadastro", modalidadeUID = Model.modalidadeUID }, new { @class = "btn btn-success" })

        </div>
    </div>
   <br />
   <div class="panel panel-success panel-heading">
       <span class="panel-title-col">Turmas da Modalidade</span>
   </div>
    <div class="panel panel-success">
        @if (Model.Turmas != null && Model.Turmas.Any())
        {
            foreach (var cadaTurma in Model.Turmas)
            {
                <div class="panel panel-info panel-detalhes-turma">
                    <div class="panel-heading panel-title-row">
                         Turma nº: @cadaTurma.turmaUID
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><h3><strong>Descrição: </strong>@cadaTurma.Descricao</h3></li>
                            <li class="list-group-item"><h3><strong>Horario de Inicio: </strong>@cadaTurma.HorarioInicio.ToShortTimeString()</h3></li>
                            <li class="list-group-item"><h3><strong>Horario de Término: </strong>@cadaTurma.HorarioTermino.ToShortTimeString()</h3></li>
                            <li class="list-group-item"><h3><strong>Dias da Semana: Segunda, Terça e Quarta</strong></h3></li>
                            <li class="list-group-item"><h3><strong>Minutos: ?</strong></h3></li>
                            <li class="list-group-item"><h3><strong>Nº de Vagas: </strong>@cadaTurma.Vagas</h3></li>
                        </ul>
                        
                    </div>
                    <div class="row">
                        <div class="btn-modalidade">
                            @Html.ActionLink("Inscrever", "NovaInscricao", "InscricaoTurma", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-success" })
                        </div>
                        <div class="btn-modalidade">
                            @Html.ActionLink("Editar", "Detalhes", "Modalidade", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-warning" })
                        </div>
                        <div class="btn-modalidade">
                            @Html.ActionLink("Excluir", "Detalhes", "Modalidade", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-danger" })
                        </div>
                        <div class="btn-modalidade">
                            @Html.ActionLink("Escolher depois", "Detalhes", "Modalidade", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="panel-body">
                <h3>Não há tumas disponíveis no momento.</h3>
            </div>
        }

        @*@if (Model.Turmas != null && Model.Turmas.Any())
        {
            foreach (var cadaTurma in Model.Turmas)
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>Turma nº:</strong>@cadaTurma.turmaUID
                    </div>
                    <div class="panel-body">
                        <h3><strong>Descrição:</strong>@cadaTurma.Descricao</h3>
                        <h3><strong>Horario de Inicio:</strong>@cadaTurma.HorarioInicio.ToShortTimeString()</h3>
                        <h3><strong>Horario de Término:</strong>@cadaTurma.HorarioTermino.ToShortTimeString()</h3>
                        <h3><strong>Nº de Vagas:</strong>@cadaTurma.Vagas</h3>
                        <h3><strong>Dias da Semana: Segunda, Terça e Quarta</strong></h3>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-modalidade">
                            @Html.ActionLink("Inscrever", "NovaInscricao", "InscricaoTurma", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-success" })
                        </div>
                        <div class="btn-modalidade">
                            @Html.ActionLink("Editar", "Detalhes", "Modalidade", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-warning" })
                        </div>
                        <div class="btn-modalidade">
                            @Html.ActionLink("Excluir", "Detalhes", "Modalidade", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-danger" })
                        </div>
                        <div class="btn-modalidade">
                            @Html.ActionLink("Escolher depois", "Detalhes", "Modalidade", new { Area = "Cadastro", turmaUID = cadaTurma.turmaUID }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div>
                <h3>Não há tumas disponíveis no momento.</h3>
            </div>
        }*@
    </div>

