@model UC.Models.ViewModels.ListViewModels.VMListPessoa

@{
    ViewBag.Title = "Listar Pessoas";
}
<ul>
    <li>@Html.ActionLink("Voltar", "Detalhes", "Painel", new { Area = UC.Utility.SimpleSessionPersister.UserRole}, new { @class = "btn btn-default" })</li>
</ul>

<div class="panel panel-info panel-detalhes-turma">
    <div class="panel-heading panel-title-row">
        Listar Usuários
    </div>
    <div class="panel-body">
        <table class="table-bordered" style="min-width: 100%; text-align:center;">
            <thead>
                <tr style="line-height: 3em;">
                    <th style="text-align: center;">ID</th>
                    <th style="text-align: center;">Nome</th>
                    <th style="text-align: center;">CPF</th>
                    <th style="text-align: center;">Nascimento</th>
                    <th style="text-align: center;">Fone</th>
                    <th style="text-align: center;">Endereço</th>
                    <th style="text-align: center;">Permissões</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cadaPessoa in Model.Pessoas)
                {
                    <tr>
                        <td>@cadaPessoa.pessoaUID</td>
                        <td style="text-align: left; padding-left: 10px;">@cadaPessoa.nome</td>
                        <td>@cadaPessoa.cpf</td>
                        <td>@cadaPessoa.nascimento</td>
                        <td>@cadaPessoa.telefone</td>
                        <td>@cadaPessoa.endereco</td>
                        <td>@Html.ActionLink("Listar", "ListaPermissao", "Pessoa", new { Area = UC.Utility.SimpleSessionPersister.UserRole, pessoaUID = cadaPessoa.pessoaUID }, new { @class = "btn btn-info" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

