@model UC.Models.ViewModels.FormViewModels.VMFormMeta

@using (Html.BeginForm("GravarFormulario", "Meta", FormMethod.Post))
{
    <br />
    <div class="panel panel-info">
        <div class="panel-heading">
            <h1>Qual a próxima meta?</h1>
        </div>
        <div class="panel-body list-group">
            <div class="list-group-item">
                <label>Nome: </label>
                @Html.TextBoxFor(m => m.nome, new { @class = "form-control" })
            </div>
            <div class="list-group-item">
                <label>Motivo:</label>
                @Html.TextAreaFor(m => m.motivo, new { @class = "form-control" })
            </div>
            <div class="list-group-item">
                <label>Data de Início</label>
                <input type="datetime-local" id="@Html.IdFor(m=>m.dataInicio)" name="@Html.NameFor(m=>m.dataInicio)" value="@Html.ValueFor(m=>m.dataInicio)" class="form-control" />
            </div>
            <div class="list-group-item">
                <label>Data de Término</label>
                <input type="datetime-local" id="@Html.IdFor(m=>m.dataTermino)" name="@Html.NameFor(m=>m.dataTermino)" value="@Html.ValueFor(m=>m.dataTermino)" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-success" value="Salvar" />
}

