@model UC.Models.ViewModels.VMTurma

@if (Model != null)
{
    <div class="panel panel-info panel-detalhes-turma">
        <div class="panel-heading panel-title-row">
            <strong> @Model.Nome</strong>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><h3><strong>Descrição da Modalidade: </strong>@Model.Modalidade.Descricao</h3></li>
                <li class="list-group-item"><h3><strong>Descrição da Turma: </strong>@Model.Descricao</h3></li>
                <li class="list-group-item"><h3><strong>Dias Semanais: </strong>@Model.DiasDaSemana.todosOsDias</h3></li>
                <li class="list-group-item"><h3><strong>Horario de Inicio: </strong>@Model.HorarioInicio.ToShortTimeString()</h3></li>
                <li class="list-group-item"><h3><strong>Horario de Término: </strong>@Model.HorarioTermino.ToShortTimeString()</h3></li>
                <li class="list-group-item"><h3><strong>Duração: @Model.DuracaoAula Min</strong></h3></li>
                <li class="list-group-item"><h3><strong>Nº de Vagas: </strong>@Model.Vagas</h3></li>
                <li class="list-group-item"><h3><strong>Nº de Professores: </strong>@Model.Bolsistas.Count</h3></li>
                <li class="list-group-item"><h3><strong>Nº de Alunos: </strong>@Model.Alunos.Count</h3></li>
            </ul>

        </div>
        @if (UC.Utility.SimpleSessionPersister.UserRole == "Coordenador" || UC.Utility.SimpleSessionPersister.UserRole == "Secretario")
        {
            <div class="row">
                <div class="btn-modalidade">
                    @Html.ActionLink("Editar", "Editar", "Turma", new { Area = "Cadastro", turmaUID = Model.turmaUID }, new { @class = "btn btn-warning" })
                </div>

                <div class="btn-modalidade">
                    @Html.ActionLink("Excluir", "Excluir", "Turma", new { Area = "Cadastro", turmaUID = Model.turmaUID }, new { @class = "btn btn-danger" })
                </div>

                @if (Model.disponivel)
                {
                    <div class="btn-modalidade">
                        @Html.ActionLink("Desativar", "Desativar", "Turma", new { Area = "Cadastro", turmaUID = Model.turmaUID }, new { @class = "btn btn-danger" })
                    </div>
                }
                else
                {
                    <div class="btn-modalidade">
                        @Html.ActionLink("Reativar", "Ativar", "Turma", new { Area = "Cadastro", turmaUID = Model.turmaUID }, new { @class = "btn btn-danger" })
                    </div>
                }
            </div>
        }
    </div>

    if (Model.Alunos != null)
    {
        @Html.Partial("_PartialViewListaAluno", Model.Alunos)
    }

    if (Model.Bolsistas != null)
    {
        @Html.Partial("_PartialViewListaBolsista", Model.Bolsistas)
    }

    if (Model.DiasDaSemana != null)
    {
        @Html.Partial("_PartialViewListaDiaSemana", Model.DiasDaSemana)
    }
}
else
{
    <div class="panel-body">
        <h3>Erro ao carregar página.</h3>
    </div>
}
