@model UC.Models.ViewModels.VMTurma

@if (Model != null)
{
    @Html.Partial("_PartialInfoTurma", Model)

    if (Model.DiasDaSemana != null)
    {
        @Html.Partial("_PartialViewListaDiaSemana", Model.DiasDaSemana)
    }

    if (Model.ListaAlunos != null)
    {
        @Html.Partial("_PartialViewListaAluno", Model.ListaAlunos)
    }

    if (Model.ListaAula != null)
    {
        @Html.Partial("_PartialViewListaAula", Model.ListaAula)
    }

    if (Model.ListaProfessoresTurma != null)
    {
        @Html.Partial("_PartialViewListaProfessorTurma", Model.ListaProfessoresTurma)
    }
}
else
{
    <div class="panel-body">
        <h3>Erro ao carregar página.</h3>
    </div>
}
