
@using (@Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div id="container-login">
        <div class="panel-heading">
            <h2>Acessar Conta</h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("cpf", "CPF:")
                @Html.TextBox("cpf", string.Empty, new { @class = "form-control more-large", placeholder = "Digite o usuário" })
            </div>
            <div class="form-group">
                @Html.Label("senha", "Senha:")
                @Html.Password("senha", string.Empty, new { @class = "form-control more-large", @placeholder = "Digite a senha..." })
            </div>
        </div>
        <div class="panel-footer more-large text-center">
            <button type="submit" class="btn btn-success">Acessar</button>
            @Html.ActionLink("Cadastre-se", "NovoCadastro", "Account", "", new { @class = "btn btn-info" })
        </div>
    </div>
}

    
    



